In [1]:
1+1

2

In [2]:
1*3

3

In [4]:
1/2

0.5

In [5]:
1//2

0

In [6]:
2 ** 4

16

In [7]:
7**4

2401

In [8]:
4%3

1

In [9]:
2+3 *4+5

19

In [10]:
name_of_var = 2

In [11]:
x = 2 
y=3

In [12]:
z = x + y

In [13]:
z

5

In [14]:
'I am nimish'

'I am nimish'

In [15]:
"I am working"

'I am working'

In [16]:
" I like's to play "

" I like's to play "

In [17]:
x = 'Hello'

In [18]:
x

'Hello'

In [19]:
print(x)

Hello

In [20]:
num = 12
name  = "Nimish"

In [21]:
print('Hello there my age is  {} and my name is {}'.format(num,name))

Hello there my age is  12 and my name is Nimish

In [22]:
[1,2,3]

[1, 2, 3]

In [23]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [24]:
my_list = ['a','b','c']

In [25]:
my_list.append(1)

In [26]:
my_list

['a', 'b', 'c', 1]

In [27]:
my_list[0]

'a'

In [28]:
my_list[0] = 2

In [29]:
my_list

[2, 'b', 'c', 1]

In [30]:
my_list[1:]

['b', 'c', 1]

In [31]:
my_list[:1]

[2]

In [32]:
nest = [ 1,2,3,[4,5,['Cool']]]

In [35]:
nest[3][2][0]

'Cool'

In [36]:
Dict = {'key1': 1 , 'key2': 2}

In [37]:
Dict

{'key1': 1, 'key2': 2}

In [40]:
Dict['key1']

1

In [41]:
True

True

In [42]:
False

False

In [43]:
t = (1,2,3,4)

In [44]:
t[0]

1

In [45]:
t[0] = 'hey'

TypeError: 'tuple' object does not support item assignment

In [46]:
{1,2,3}

{1, 2, 3}

In [47]:
{1,2,3,4,3,2,1,4,6,7,56,5,4}

{1, 2, 3, 4, 5, 6, 7, 56}

In [48]:
1 > 2

False

In [49]:
1<2

True

In [50]:
 1 >=2

False

In [51]:
1<=2

True

In [52]:
1 ==1

True

In [53]:
1!=1

False

In [54]:
"Nimish" == "cool"

False

In [55]:
(1>2)and(2<3)

False

In [56]:
(1>2) or (2<3)

True

In [57]:
True and False

False

In [58]:
True and True

True

In [59]:
False or True

True

In [60]:
False or False

False

In [61]:
if 1 <2 :
    print('Hello')

Hello

In [62]:
if 1>2 :
    print("First")
else :
    print('Last')

Last

In [63]:
if 1<2 :
    print("First")
else :
    print('Last')

First

In [65]:
if 1>2 :
    print("First")
elif 3==3:
    print('middle')
else :
    print('Last')

middle

In [66]:
seq = [1,2,3,4,5]

In [67]:
for item in seq:
    print(item)

1
2
3
4
5

In [68]:
for item in seq:
    print('Nimish')

Nimish
Nimish
Nimish
Nimish
Nimish

In [69]:
for i in seq:
    print( i + i)

2
4
6
8
10

In [71]:
i = 1 
while i < 5:
    print("I is now {}".format(i))
    i+=1

I is now 1
I is now 2
I is now 3
I is now 4

In [72]:
range(4)

range(0, 4)

In [73]:
print(range(8))

range(0, 8)

In [74]:
for i in range(4):
    print(i)

0
1
2
3

In [80]:
x =list(range(1,9))

In [81]:
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [82]:
out = []

for i in x:
    out.append(i ** 2)

print(out)

[1, 4, 9, 16, 25, 36, 49, 64]

In [83]:
lis = [ i**2 for i in range(1,5)]

In [84]:
lis

[1, 4, 9, 16]

In [91]:
def my_fun(var = 'cool'):
    print(var)

In [92]:
my_fun('Nimish')

Nimish

In [93]:
my_fun()

cool

In [94]:
def sqare(v):
    return v **2

In [97]:
r= sqare(3)

In [98]:
r

9

In [100]:
t = lambda x, y : x+ y

In [101]:
t(1,4)

5

In [102]:
sq = lambda var : var **2

In [103]:
sq(5)

25

In [104]:
seq = [1,2,3,4,5,6]

In [106]:
t = map(sqare,seq)

In [109]:
list(t)

[1, 4, 9, 16, 25, 36]

In [113]:
list(map(lambda x : x * 2,seq))

[2, 4, 6, 8, 10, 12]

In [115]:
list(filter(lambda x : x %2 ==0, seq))

[2, 4, 6]

In [116]:
list(map(lambda x : x %2 ==0, seq))

[False, True, False, True, False, True]

In [117]:
z = 'Hello this is nimish working for amazon'

In [118]:
z.lower()

'hello this is nimish working for amazon'

In [119]:
z.upper()

'HELLO THIS IS NIMISH WORKING FOR AMAZON'

In [122]:
z.split('i')

['Hello th', 's ', 's n', 'm', 'sh work', 'ng for amazon']

In [123]:
tweet = " My Boy @ Nimish"

In [125]:

tweet.split('@')

[' My Boy ', ' Nimish']

In [126]:
tweet.split('@')[1]

' Nimish'

In [127]:
Dict

{'key1': 1, 'key2': 2}

In [128]:
Dict.keys()

dict_keys(['key1', 'key2'])

In [130]:
Dict.values()

dict_values([1, 2])

In [131]:
Dict.items()

dict_items([('key1', 1), ('key2', 2)])

In [132]:
lst = [1,2,3]

In [133]:
lst.pop()

3

In [134]:
lst

[1, 2]

In [138]:
x in seq

False